.orange {
    color: orange;
    font-size: 30px;
}

.green {
    color: green;
    font-size: 30px;
}

.blue {
    color: blue;
    font-size: 30px;
}

.output1 {
    width: 70%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

.bottone{
    width: 150px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 1px black;
    border-radius: 15%;
    margin: 10px;
    background-color: white;
}

.button-container{
    background-color: lightslategray;
}

.dnone{
    display: none;
}

.dblock{
    display: block;
}

.box-tipo{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: lightskyblue;
}

.box-tipo h3{
    color: white;
}

.box-tipo select{
    margin-left: 10px;
}

.header-box{
    background-color: white;
}

.header-box h1{
    color: lightskyblue;
    margin-left: 15px;
}
